.stylelist ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.stylelist a, .stylelist li {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}

#background, #background > a{
    background-color: rgb(138, 120, 17);
    width: 90px;
    margin: 0px;
    margin-left: 15px;
    padding-top: 8px;
    text-align: center;
}

svg {
    margin-bottom: 4px;
}

#background > a{
    font-weight: normal;
}