<div class="row bg-warning">
    <div class="col-9 stylelist">
          <ul>
            <li><a href="#">Nossos preços</a></li>
            <li><a href="#">Pasta</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
    </div>
    <div class="col stylelist">
        <ul>
            <li><a href="#">(00) 1234-5678 0009</a></li>
            <li id="background">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                  </svg>
                <a href="#">Login</a>
            </li>
          </ul>
    </div>
</div>

<div class="row">
    <div class="col">logo</div>
    <div class="col">casa</div>
    <div class="col">caracteristicas</div>
    <div class="col">shortcodes</div>
    <div class="col">extras</div>
    <div class="col">pasta</div>
    <div class="col">blog </div>
    <div class="col">contato</div>
</div>
