<div class="containerCarrossel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" class="carousel-indicators-color active" data-bs-slide-to="0"  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" class="carousel-indicators-color " id="carousel2"   data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" class="carousel-indicators-color " id="carousel3"   data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let i of imagem" class="carousel-item {{i.mostrar}}" data-bs-interval="2000">
            <div class="position-relative" *ngFor="let i1 of i.imagens">
                <img class="w-100" src="{{i1.img}}" alt="">
                <div class="position-absolute posicao">
                    <div>
                        <h1>{{i1.text1}}</h1>
                    </div>
                    <div>
                        <h4>{{i1.text2}}</h4>
                    </div>
                    <div>
                        <h3>{{i1.text3}}</h3>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>